body{
    background-image: linear-gradient(to right, rgb(197, 193, 193), white, rgb(197, 193, 193) );
    margin-left: auto;
    margin-right: auto;
}
main{
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#photo{
    width: 800px;
    height: 533px;
}
aside{
    height: 503px;
    opacity: 0.9;
    padding: 15px;
    background-image:linear-gradient(to bottom, ivory, rgb(217, 227, 235)) ;
}
.nyil {
   height: 50px;
   color: rgb(192, 191, 191);
   margin-top: 241px;
}

#bal{
    transform: rotate(0.5turn);
}
.gery-container{
    position: absolute;
    background-color: black;
    width: 800px;
    height: 120px;
    top: 413px;
    left: auto;
    opacity: 0.7;
}
h1{
    color: white;
    font-family: 'Comic Neue';
    margin: 0px;
}
p{
    color: rgb(195, 195, 195);
    margin: 5px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
.thumbnail{
    display: block;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 5px;
    width: 90px;
    opacity: 0.8;
    
}
.title{
    display: none;
    position: absolute;
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: -50px;
}
.thumbnail:hover{
    opacity: 1;
    width: 110px;
    box-shadow: 10px, rgb(43, 42, 42);
}
.mod{
    opacity: 1;
    width: 110px;
}